
@font-face {
  font-family: Lato-Regular;
  src: url('Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('Lato-Bold.ttf');
}

@font-face {
  font-family: Lato-Light;
  src: url('Lato-Light.ttf');
}

@font-face {
  font-family: Lato-black;
  src: url('Lato-Black.ttf');
}